* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

li {
  margin-bottom: 10px;
  background: #e3e3e3;
  border-radius: 10px;
  padding: 5px;
  word-break: break-all;
  white-space: pre-wrap;
  background: pink;
  color: #333;
}

ul {
  margin: 0 auto;
}

main {
  margin: 0 auto;
  width: 500px;
}

#msg {
  width: 100%;
  font-size: 30px;
  padding: 10px;
  border-radius: 6px;
  border: solid 2px pink;
}

#top {
  margin-bottom: 20px;
}